<div id="status-detail-modal">
  <sui-modal v-model="isOpen" closeIcon>
    <sui-modal-header>
      <sui-icon size="large" name="info circle" /> ステータス詳細
    </sui-modal-header>
    <sui-modal-content scrolling v-if="member != undefined">
      <sui-modal-description>
        <sui-label class="ui gray large">
          <sui-icon name="history" />最終更新: {{ member.last_update_date }}
          <sui-label-detail>{{ states[member.last_status].name}} → {{ states[member.status].name }}</sui-label-detail>
        </sui-label><br>
        <sui-grid :columns="2" divided>
          <sui-grid-row>
            <sui-grid-column>
              <sui-statistic>
                <sui-statistic-value>
                  {{ member.last_name + " " + member.first_name }}
                </sui-statistic-value>
                <sui-statistic-label>
                  {{ member.last_name_eng }} - {{ member.first_name_eng }}
                </sui-statistic-label>
              </sui-statistic>
            </sui-grid-column>
            <sui-grid-column>
              <h1 class="status-title" :class="states[member.status].color + '-title'">{{ states[member.status].name }}</h1>
            </sui-grid-column>
          </sui-grid-row>
        </sui-grid>
        <OccupancyRate :memberId="memberId" />
        <Timelines :memberId="memberId" />
      </sui-modal-description>
    </sui-modal-content>
    <sui-modal-actions>
      <sui-button positive @click.native="closeModal">
        OK
      </sui-button>
    </sui-modal-actions>
  </sui-modal>
</div>